/* ManagerMap.css */

.manager-map-container {
    display: flex;
    height: 100vh;
  }
  
  .store-box {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
  }
  
  .map-container {
    width: 75%;
    position: relative;
  }
  
  .map {
    height: 100%;
    width: 100%;
  }
  
  .store-tab {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .button-container button {
    padding: 5px 10px;
    cursor: pointer;
  }

  .store-tab {
    border: 1px solid #ddd;
    border-radius: 8px; /* Add rounded corners */
    background-color: #fff; /* Set background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin-bottom: 10px;
    padding: 10px;
    transition: background-color 0.3s ease; /* Smooth background color transition */
  
    /* Hover effect */
    &:hover {
      background-color: #f5f5f5;
    }
  }

  
  /* Add additional styles as needed */