.table {
  border-radius: 15px;
  border: 1px solid #ddf7e3;
  background: #ffffff;
  box-shadow: 0px 3px 4px 0px #ddf7e3, -2px -1px 4px 0px #ddf7e3 inset,
    2px 1px 4px 0px #ddf7e3 inset;
  height: fit-content;
  padding: 16px 24px;
  width: 100%;
  margin: auto;
}
